/.build
/.vs
/.aux
/.old
/logs
/docs/html/*
/docs/latex
/bin/linux/*
/installer/linux/*
*.sbb
*.csv
*.mat
*.txt
*.JPG
*.log
*.aux
*.idx
*.ilg
*.ind
*.out
*.toc
aboutLogo.png
aboutLogo.svg
UpgradeLog.htm
!.gitkeep